body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
}

.box {

    height: 450px;
    width: 500px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
}

label{
    font-size: xx-large;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
    font-style:oblique;
    font-variant: small-caps;
}
input {
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    margin-top: 100px;
    height: 15%;
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    margin-top:100px;
    font-size: xx-large;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
    font-style:oblique;
    font-variant: small-caps;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: skyblue;
}


#result {
    font-size: xx-large;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-variant: small-caps;
}
